[submodule "external/drasticmaui"]
	path = external/drasticmaui
	url = git@github.com:drasticactions/DrasticMaui.git
[submodule "external/reordercollection"]
	path = external/reordercollection
	url = git@github.com:drasticactions/ReorderableCollectionView.Maui.git
	branch = fork
[submodule "external/lastfm"]
	path = external/lastfm
	url = git@github.com:drasticactions/Last.fm.git
	branch = fork
